body {
  margin: 0;
  margin-bottom: 5em;
  padding: 0;
  font-family: BentonSans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: rgb(248, 248, 248);
}

header {
   font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif; 
  
   font-family: 'Lora', serif;
  color: white;
} 
 h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
 } 

/* h1,
h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
} */

 h2 {
  text-decoration: underline;
}

h1 {
  color: white;
} 

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 5em;
  margin-bottom: 3em;
  background-color: white;
  margin: 2em 2em 0em 2em;
  padding: 0.5em;
} 

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

img {
  width: 6em;
  height: 6em;
  border: solid #d22727 2px;
  border-radius: 10px;
}

.app {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

.header {
  display: flex;
  background-image: linear-gradient(-45deg, #e11847, #050100);
  padding-bottom: 0.5em;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 50%;
  padding-left: 0.5em;
}

.search-input {
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: -1em;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  width: 50%;
}

.btn-wrapper {
  margin-top: 1.5em;
}
.column2 {
  text-align: center;
  padding: 0.5em 0.5em 3em 0.5em;
  width: 100%;
  background-color: rgb(206, 196, 196);
  box-shadow: 0 0 0 3px rgba(221, 5, 30, 0.498),
    1em 1em 3px 0 rgba(112, 5, 28, 0.247);
  margin-top: 2em;
  border-radius: 10px;
}

.user-profile {
  width: auto;
  margin: auto;
  height: auto;
  text-align: center;
  margin-top: -0.5em;
}

.user-profile-stats {
  font-size: small;
  margin-top: -1em;
}

.small-img {
  float: right;
  width: 50px;
  height: 50px;
}

.login {
  display: flex;
  align-items: center;
  float: right;
  margin: auto;
}

.login-btn {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.8em;
  background-color: rgb(236, 236, 236);
  color: black;
  width: auto;
  border-radius: 15px;
  padding: auto;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fbf9fc;
  color: rgb(255, 255, 255);
  overflow: hidden;
  font-size: 16px;
   border-top: 3px solid black;
  border-bottom: 3px solid black; 
 }

/* Style the links inside the navigation bar */
 .nav a {
  float: left;
  display: block;
  color: #d32a51;
  padding: 14px 18px;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #d32a35;
  color: white;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}  

 .forum,
.post,
.form {
  padding: 0.5em 0.5em 3em 0.5em;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 0 3px rgba(176, 9, 26, 0.498),
    1em 1em 3px 0 rgba(112, 5, 28, 0.247);
  margin-top: 2em;
  border-radius: 10px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  padding: 1em;
  border-radius: 10px;
  margin: 0.5em;
  width: 50%;
} 

.create-post-btn {
  width: auto;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #bc2534;
  border-radius: 50px;
  box-shadow: 0px 21px 11px -10px rgba(253, 253, 253, 0.2);
  padding: 15px 35px;
  vertical-align: auto;
} 

.create-post-btn:hover {
  background-color: #000000;
  color: white;
}

.h2-bar {
  width: auto;
  background-color: rgb(255, 255, 255);
   margin: 1em auto 1em auto; 
   margin: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 2px solid #d47687;
  border-radius: 10px;
}

.forum-post-preview {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: white;
  margin: 0.9em;
  padding: auto;
  border: 1px solid #d47683;
  border-radius: 2px;
} 

.post-stats {
  font-size: medium;
  color: rgb(107, 107, 107);
  text-align: left;
} 

 .comment {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: white;
  margin: 0.5em;

  padding: 0.5em;
  padding: auto;
  border: 1px solid #d47681;
  border-radius: 10px;
}

.avatar-display {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  float: left;
  width: 20%;
  margin: auto;
  padding: 0.4em 0.6em 0.2em 0.5em;
}

.content-preview {
  padding: 3em;
  color: rgb(14, 8, 8);
  border-left: solid black 0px;
  margin: auto;
  padding: 0.5em;
  width: 90%;
}

.username-font {
  text-align: center;
  font-size: medium;
}

.comment-content {
  display: flex;
  float: right;
  margin: 0.1em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  width: 80%;
  border-left: solid #bc4865 1px;
  text-align: justify;
}

.date {
  font-size: small;
}

.create-comment {
  display: block;
  padding: 0.5em;
}

.comment-input {
  display: block;
  height: 5em;
  width: 80%;
  text-align: left;
  border-radius: 5px;
  margin: 1em; 
  padding: 0.5em 1.5em;
  font-size: large;
  word-wrap: break-word;
} 

 .button {
  background-color: #bc4861;
  color: white;
  width: auto;
  border-radius: 10px;
  border: solid #d47684 2px;
  padding: 1em;
  height: auto;
  box-shadow: 0 0 0 1px #480355, 0.3em 0.3em 1px 0 #47035523;
}  
















